body{
    margin: 0;
    overflow: hidden;
    background-color: black;
    font-family: sans-serif;
}

#tools{
    position: absolute;
    top: 15px;
    left: 15px;
    color: white;
}

#tools>button{
    height: 40px;
    font-size: 10;
    font-weight: bold;
}

input{
    height: 40px;
}